<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 FIGURINES</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:replace="${role == 'user'} ? ~{headerCustomer :: header} : _"></div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="errors" name="errors" th:replace="errors :: errors"></div>
<form th:method="POST" th:action="@{/addAddress}" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <h2 class="w3-center">Ajouter votre adresse</h2>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="streetnumber" type="number" placeholder="Numéro de la rue" min="0">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="street" type="text" placeholder="Nom de la rue" max="255">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"></i></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="postalCode" type="number" placeholder="Code Postal" min="0">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="city" type="text" placeholder="Ville" max="255">
        </div>
    </div>

    <div class="w3-row w3-section">
        <div class="w3-col" style="width:50px"></div>
        <div class="w3-rest">
            <input class="w3-input w3-border" name="country" type="text" placeholder="Pays" max="255">
        </div>
    </div>

    <p class="w3-center">
        <button type="submit" class="w3-button w3-section w3-blue w3-ripple"> Ajouter </button>
    </p>
</form>
<div th:replace="footer :: footer"></div>
</body>
</html>