<!DOCTYPE html>
<html lang="fr"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'user'} ? ~{headerCustomer :: header} : _"></div>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Votre Panier</h3>
    </br>

    <div>
        <div class="text-right">
            <p class="card-text" th:text="'Montant total: '+${solde}+' €'" ></p>
            <div th:if="${!vide}" class="float-right row" style="padding-top: 20px">
                <form th:method="get" th:action="@{/bill}">
                    <button type="submit" class="btn btn-success" >Payer</button>
                </form>
                <form th:method="get" th:action="@{/removeBasket}">
                    <button type="submit" class="btn btn-primary ">Vider</button>
                </form>
            </div>
        </div>
    </div>
    </br>
    </br>

    <h3>Vitrine de vos figurines</h3>
    </br>
    <div th:if="${!vide}">
        <table class="table">
            <tr>
                <th style="text-align: center">Image</th>
                <th style="text-align: center">Nom</th>
                <th style="text-align: center">Quantité</th>
                <th style="text-align: center">Prix (€)</th>
                <th style="text-align: center">Modifier Quantité</th>
            </tr>
            <br/>
            <tr style="width:100%" th:each="basketFi : ${basketFigurines}">
                <td style="width: 20%"><img th:src="@{${'/images/' + basketFi.getFigurine().getPicture().getName() + '.png'}}" height="100" width="100"></td>
                <td style="width: 15%; text-align: center" th:text="${basketFi.getFigurine().getName()}"></td>
                <td style="width: 10%; text-align: center" th:text="${basketFi.getQuantite()}"></td>
                <td style="width: 15%; text-align: center" th:text="${basketFi.getUnitPrice()}"></td>
                <td></td>
                <form th:action="@{/removeQuantityOfProduct}" th:method="POST">
                    <input type="hidden" name="idFigurine" id="idFigurineAdd" th:value="${basketFi.getFigurine().getId()}">
                    <td class="row" style="..."><button type="submit" class="btn btn-primary">-</button>
                </form>
                <form th:action="@{/addQuantityOfProduct}" th:method="POST">
                    <input type="hidden" name="idFigurine" id="idFigurineRemove" th:value="${basketFi.getFigurine().getId()}">
                    <button type="submit" class="btn btn-primary">+</button></td>
                </form>
            </tr>
        </table>
    </div>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>