<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'user'} ? ~{headerCustomer :: header} : _"></div>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Prévisualisation de la facture</h3>
    </br>
    <div class="row" style="padding-top: 20px">
        <div class="col">
            <div class="row" style="padding-top: 20px">
                <h5 th:text="${'Nom : ' + customer.getLastName()}"></h5>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Prénom : ' + customer.getFirstName()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Adresse : ' + customer.getAddress()?.toString()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Montant total: ' + solde + ' €'}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Date: ' + date}"></p>
            </div>
        </div>
    </div>
    <!--
    <div class="row" style="padding-top: 20px">
        <h4 th:text="${'Facture # '}">Facture #</h4>
        <div class="col" style="padding-top: 20px">
            <div class="row" style="padding-top: 20px">
                <h5 th:text="${'Figurine : ' }">Figurine :</h5>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Categorie : '}">Categorie : '</p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Licence : '}">Licence : '</p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Prix de la commande : €'}">Prix de la commande : €</p>
            </div>
        </div>

        <div class="col">
            <img th:src="@{${'/images/.png'}}" height="300" width="200"/>
        </div>
    </div>

    <div style="padding-top: 40px">
        <form action="/addAddress" method="POST">
            <div class="form-group">
                <label for="facturationAddress">Adresse de facturation :</label>
                <input type="text" class="form-control" id="facturationAddress" placeholder="Adresse, Ville, Code postal, Pays" name="facturationAddress" required>
            </div>
            <div class="form-group">
                <label for="livraisonAddress">Adresse de livraison :</label>
                <input type="text" class="form-control" id="livraisonAddress" placeholder="Adresse, Ville, Code postal, Pays" name="livraisonAddress" required>
            </div>
        </form>
    </div>
-->
    <div style="padding-top: 40px">
        <h5>Paiement</h5>
        <div class="row">
            <form action="/getValidBuy" method="get" style="padding-left: 10px">
                <button type="submit" class="btn btn-success">Payer par carte bancaire</button>
            </form>
            <form action="/getValidBuy" method="get" style="padding-left: 30px">
                <button type="submit" class="btn btn-success">Payer par Paypal</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
</body>
</html>