<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'admin'} ? ~{headerAdministrator :: header} : _"></div>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3 style="padding-bottom: 20px">Formulaire ajout d'un code</h3>

    <div style="text-align: center">
        <form action="/addCode" method="POST">
            <div style="padding-bottom: 20px">
                <label for="name"> Nom du code :</label>
                <input type="text" name="name" id="name" placeholder="Nom du code">
                <br>
                <label for="codeR"> Réduction :</label>
                <input type="number" name="codeR" id="codeR">
                <br>
                <label for="startDate"> Date de début :</label>
                <input type="date" name="startDate" id="startDate">
                <br>
                <label for="endDate"> Date de fin :</label>
                <input type="date" name="endDate" id="endDate" >
                <br>
                <label for="nb"> Nombre d'utilisation :</label>
                <input type="number" name="nb" id="nb">
            </div>

            <div>
                <button type="submit">Créer le code</button>
            </div>
        </form>

        </br>
        <a href="listCode">Liste des codes</a>
        </br>
        </br>
        <a href="index">Retour au menu</a>
    </div>

</div>
<!--<div th:replace="footer :: footer"></div>-->
</body>
</html>
