<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="demo/static/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="index" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>404 FIGURINES</strong>
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="figurines">Figurines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="login">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Page produit</h3>
    </br>
    <div class="row" style="padding-top: 20px">
        <div class="col">
            <img th:src="@{${'/images/' + figurine.getPicture().getName() + '.png'}}" height="450" width="400"/>
        </div>
        <div class="col">
            <div class="row" style="padding-top: 20px">
                <h5 th:text="${'Figurine : ' + figurine.getName()}"></h5>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Date de parution : ' + #dates.format(figurine.getStartDate(), 'dd-MMM-yyyy')}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Categorie : ' + figurine.getLicence().getCategory().getName()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Licence : ' + figurine.getLicence().getName()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Description : ' + figurine.getDescription()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Prix (TTC) : ' + figurine.getPrice() + ' €'}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <form action="/basket" method="POST">
                    <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                </form>
                <form action="/bill" method="POST" style="padding-left: 30px">
                    <button type="submit" class="btn btn-success">Payer</button>
                </form>
            </div>
        </div>
    </div>


    <div class="row" style="padding-top: 40px">
        <h4>Commentaires</h4>
        <p class="float-right" style="padding-left: 600px">
            <button class="btn btn-primary" th:href="opinion" type="submit">Laisser un commentaire</button>
        </p>
    </div>
    </br>
    <h5 th:text="${'Note moyenne : ' + note + ' / 5'}"></h5>

    <table style="padding-top: 40px">
        <tr style="width: 100%; text-align: center">
            <th style="width:50%">Avis</th>
            <th style="width:10%">Note</th>
            <th style="width:10%">Utilisateur</th>
            <th style="width:10%">Date</th>
        </tr>
        <tr style="text-align: center" th:each="opinion: ${opinions}">
            <td th:text="${opinion.getText()}"></td>
            <td th:text="${opinion.getNote()}"></td>
            <td th:text="${opinion.getCustomer().getUsername()}"></td>
            <td th:text="${#dates.format(opinion.getDate(), 'dd-MMM-yyyy')}"></td>
        </tr>
    </table>

</div>

</body>
</html>