<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="footer">
    <footer class="text-muted">
        <div class="container">
            </br>
            <p class="float-right">
                <a href="#">Haut de page</a>
            </p>
            <p>Pour profiter au maximum de nos produits et profiter d'avantages client, penser à vous inscrire !</p>
            <p>Nouveau sur notre site ? Regarder notre collection de figurines <a href="figurines">ici</a> pour trouver votre bonheur.</p>
            <p>Besoin de nous contacter ? Ça se passe <a href="mailto:chose@bidule.fr">ici</a> .</p>
        </div>
    </footer>
</div>
</body>
</html>