<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="demo/static/main.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="index" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>404 FIGURINES</strong>
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="indexFigurine">Figurines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="login">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div style="text-align: center;">
    <br/>
    <form action="/addFigurine" method="POST">
    <p>Ajoutons une figurine.</p>

    <table class="table col-md-4" border align="center">
        <tr>
            <td><label for="name">Nom de la figurine :</label></td>
            <td><input type="text" name="name" id="name" maxlength="255" class="form-control" required></td>
        </tr>
        <tr>
            <td><label for="idCat">Catégorie :</label></td>
<!--            <td><input type="text" name="category" id="category" maxLength="255" class="form-control" required></td>-->
            <td>
                <select name="idCat" id="idCat">
                    <option th:each="category: ${categoryList}"
                            th:value="${category.getId()}"
                            th:text="${category.getName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="idLicense">Licence :</label></td>
<!--            <td><input type="text" name="license" id="license" maxLength="255" class="form-control" required></td>-->
            <td>
                <select name="idLicense" id="idLicense">
                    <option th:each="licence: ${licenceList}"
                            th:value="${licence.getId()}"
                            th:text="${licence.getName()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="startDate">Date de parution :</label></td>
            <td><input type="text" name="startDate" id="startDate" maxlength="255" placeholder="dd/mm/yyyy" class="form-control" required></td>
        </tr>
        <tr>
            <td><label for="description">Description :</label></td>
            <td><textarea type="text" name="description" id="description" rows="3" cols="30" class="form-control"></textarea></td>
        </tr>
        <tr>
            <td><label for="price">Prix :</label></td>
            <td><input type="number" name="price" id="price" required> €</td>
        </tr>
        <tr>
            <td><label for="quantity">Nombre d'unités :</label></td>
            <td><input type="number" name="quantity" id="quantity" required></td>
        </tr>
    </table>

        </br>
    <div>
        <button type="submit">Ajouter la figurine</button>
    </div>
    </form>
    </br>
    <a href="/figurines">Liste des figurines</a>
    </br>
    </br>
    <a href="index">Retour au menu</a>
</div>
</body>
</html>