<!DOCTYPE HTML>
<html>
<head>
    <title>404 figurines</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/addCategory" method="POST">
    <p>Let's add a category.</p>

    <div>
        <label for="name"> Name category:</label>
        <input name="name" id="name" value="Jeux vidéo">
    </div>

    <div>
        <button type="submit">Add Category</button>
    </div>
</form>



<form action="/listCategory" method="GET">
    <button>List category</button>
</form>
<a href="realindex">Menu</a>
</body>
</html>
