<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>404 figurines</title>
    </head>
    <body>
        <form action="/addLicence" method="post"  modelAttribute="category">
            <p>Licence</p>
            <select path="category">
                <option value="-" label="--Choisir une categorie--"/>
                <options items="${ categoryList }" itemValue="name" itemLabel="name" ></options>
            </select>
        </form>
    </body>
</html>