<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Categorie</p>
<a href="indexCategory">Ajouter</a>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>SUPPRIMER</th>
    </tr>
    <tr th:each="category: ${categoryList}">
        <form action="/deleteCategory" method="POST">
            <input type="hidden" name="id" id="id" th:value="${category.getId()}">
            <td th:text="${category.getId()}"/></td>
            <td th:text="${category.getName()}"/></td>
            <td><button type="submit">Supprimer</button></td>
        </form>
    </tr>
</table>
</body>
</html>