<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Licence</p>
<a href="licences">Ajouter</a>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>CATEGORIE</th>
        <th>SUPPRIMER</th>
    </tr>
    <tr th:each="licence: ${licenceList}">
        <form action="/deleteLicence" method="POST">
            <input type="hidden" name="id" id="id" th:value="${licence.getId()}">
            <td th:text="${licence.getId()}"/></td>
            <td th:text="${licence.getName()}"/></td>
            <td th:text="${licence.getCategory().getName()}"/></td>
            <td><button type="submit">Supprimer</button></td>
        </form>
    </tr>
</table>
</body>
</html>