<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="demo/static/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="home" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>404 FIGURINES</strong>
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a href="home" class="nav-link text-white" >Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="figurines">Figurines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="listCategory">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="listLicence">Licences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="listSubscription">Abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/getBasketUser">Voir Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="profile">Profil</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Liste des catégories</h3>
    </br>
    <p>Pour ajouter une catégorie, veuillez cliquer <a href="indexCategory">ici</a>.</p>
    </br>

    <form action="/listCategoryPerso" method="GET">
        <div class="col-md-4" style="display: inline-block">
            <label for="recherche">Nom de la catégorie :</label>
            <input type="text" name="recherche" id="recherche" class="form-control" th:value="${recherche} ?: ''">
        </div>
        <div class="col-md-5" style="display: inline-block">
            <input type="submit" value="Rechercher" class="btn btn-info">
            <a class="btn btn-light" th:href="listCategory">Annuler la recherche</a>
        </div>
    </form>

    <div style="text-align: center; padding-top: 40px">
        <table>
            <tr style="width:100%">
                <th style="width:5%">ID</th>
                <th style="width:30%">NOM</th>
                <th style="width:15%">MAJ</th>
                <th style="width:15%">SUPPRIMER</th>
            </tr>
            <tr th:each="category: ${categoryList}">
                <form action="/updateCategory" method="POST">
                    <input type="hidden" name="idCat" id="idCat" th:value="${category.getId()}">
                    <td th:text="${category.getId()}"></td>
                    <td><input type="text" name="name" id="name" th:value="${category.getName()}"></td>
                    <td><button type="submit">Mettre à jour</button></td>
                </form>
                <form action="/deleteCategory" method="POST">
                    <td><button type="submit">Supprimer</button></td>
                    <input type="hidden" name="id" id="id" th:value="${category.getId()}">
                </form>
            </tr>
        </table>
    </div>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>