<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

<div th:insert="${role == 'visitor'} ? ~{header :: header} : _"></div>

<div style="text-align: center; padding-top: 50px; padding-bottom: 20px">
    <div style="padding-bottom: 40px" th:if="${param.logout}">
        <h4><I>Vous avez été déconnecté.</I></h4>
    </div>
    <h4>Merci d'avoir utilisé notre site, en espérant que vous ayez trouvé votre bonheur dessus.</h4>
    </br>
    <a href="index">Retourner sur le site</a>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>