<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Figurine-->

<!-- -->

    <form action="/addOpinion" method="GET">
        <label for="note">Note (0-5):</label>
        <input type="number" id="note" name="note" min="0" max="5">
        <div class="form-group">
            <label for="opinion">Laisser un commentaire:</label>
            <input type="textarea" class="form-control" id="opinion" placeholder="Laisser un commentaire" name="opinion">
        </div>
        <input type="submit" value="Publier"/>
    </form>
</body>
</html>