<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="demo/static/main.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="index" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>404 FIGURINES</strong>
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="index">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="figurines">Figurines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/getBasketUser">Voir Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="logout">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Mon Profil</h3>
    </br>

    <h4>Mes informations</h4>
    </br>
    <div class="row" style="padding-left: 20px; padding-bottom: 40px">
        <div class="col">
            <div class="row">
                <p th:text="${'Nom : ' + lname}">lname</p>
            </div>
            <div class="row">
                <p th:text="${'Prénom : ' + fname}">fname</p>
            </div>
            <div class="row">
                <p th:text="${'Adresse mail : ' + username}">username</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p th:text="${'Adresse de facturation : ' + address.getStreetnumber() + ' '
                + address.getStreet() + ' ' + address.getPostalCode() + ' ' + address.getCity() + ' ' + address.getPays()}">adress</p>
            </div>
            </br>
            <div class="row">
                <p th:text="${'Adresse de livraison : ' + address.getStreetnumber() + ' '
                + address.getStreet() + ' ' + address.getPostalCode() + ' ' + address.getCity() + ' ' + address.getPays()}">adress</p>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 60px">
        <div class="row">
            <form action="/information" method="GET" style="padding-left: 200px">
                <button class="btn-primary">Modifier mes informations</button>
            </form>
            <form action="/password" method="GET" style="padding-left: 40px; padding-right: 40px">
                <button class="btn-primary">Modifier mon mot de passe</button>
            </form>
            <form action="/address" method="GET" style="padding-right: 200px">
                <button class="btn-primary">Modifier mes adresses</button>
            </form>
        </div>
    </div>

    <h4>Mes factures</h4>
    </br>
</div>

</body>
</html>