<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'admin'} ? ~{headerAdministrator :: header} : _"></div>
<div th:insert="${role == 'user'} ? ~{headerCustomer :: header} : _"></div>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Mon Profil</h3>
    </br>

    <h4>Mes informations</h4>
    </br>
    <div class="row" style="padding-left: 20px; padding-bottom: 40px">
        <div class="col">
            <div class="row">
                <p th:text="${'Nom : ' + lname}">lname</p>
            </div>
            <div class="row">
                <p th:text="${'Prénom : ' + fname}">fname</p>
            </div>
            <div class="row">
                <p th:text="${'Adresse mail : ' + username}">username</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p th:text="${'Adresse de facturation : ' + address.getStreetnumber() + ' '
                + address.getStreet() + ' ' + address.getPostalCode() + ' ' + address.getCity() + ' ' + address.getCountry()}">adress</p>
            </div>
            </br>
            <div class="row">
                <p th:text="${'Adresse de livraison : ' + address.getStreetnumber() + ' '
                + address.getStreet() + ' ' + address.getPostalCode() + ' ' + address.getCity() + ' ' + address.getCountry()}">adress</p>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 60px">
        <div class="row">
            <form action="/information" method="GET" style="padding-left: 200px">
                <button class="btn-primary">Modifier mes informations</button>
            </form>
            <form action="/password" method="GET" style="padding-left: 40px; padding-right: 40px">
                <button class="btn-primary">Modifier mon mot de passe</button>
            </form>
            <form action="/address" method="GET" style="padding-right: 200px">
                <button class="btn-primary">Modifier mes adresses</button>
            </form>
        </div>
    </div>

    <h4>Mes factures</h4>
    </br>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>