<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <form th:action="@{/recherche}" method="post">
        <label>Nom :</label>
        <input type="text" name="recherche" class="form-control">
        </div>

        <div class="col-md-2" style="display: inline-block">
            <input type="submit" value="Search" class="btn btn-info">
        </div>
    </form>

    <div th:each="figurine : ${figurines}">
        <p th:text="${figurine}">figurine</p>
    </div>

</head>
<body>

</body>
</html>