<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>404 figurines</title>
</head>
<body>
<form action="/addCustomer" method="post">
    <div class="form-group">
        <label for="lastName">Nom :</label>
        <input type="text" class="form-control" id="lastName" placeholder="Entrer votre nom" name="lastName">
    </div>
    <div class="form-group">
        <label for="firstName">Prénom :</label>
        <input type="text" class="form-control" id="firstName" placeholder="Entrer votre prénom" name="firstName">
    </div>
    <div class="form-group">
        <label for="userName">Mail :</label>
        <input type="email" class="form-control" id="userName" placeholder="Entrer votre email" name="userName">
    </div>
    <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control" id="password" placeholder="Entrer votre mot de passe" name="password">
    </div>
    <div class="form-group">
        <p>Civilité :</p>
        <input type="radio" class="form-control" id="gender_H" name="civility" value="true"  checked>
        <label for="gender_H">Homme</label>
        <input type="radio" class="form-control" id="gender_F" name="civility" value="false"  >
        <label for="gender_F">Femme</label>
    </div>

    <button type="reset" class="btn btn-primary">Réinitialiser</button>
    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>

</body>
</html>