<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'admin'} ? ~{headerAdministrator :: header} : _"></div>

<form action="/addAdministrator" method="post">
    <div style="padding-left:400px; padding-right:400px; padding-top:20px">
        <h3>Formulaire d'inscription administrateur</h3>
        </br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Nom :</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Entrer votre nom" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="firstName">Prénom :</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Entrer votre prénom" name="firstName" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <p>Civilité :</p>
                    <div class="row">
                        <div class="col">
                            <label for="gender_H">Homme</label>
                        </div>
                        <div class="col">
                            <input type="radio" class="form-control" id="gender_H" name="civility" value="true" checked>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col">
                            <label for="gender_F">Femme</label>
                        </div>
                        <div class="col">
                            <input type="radio" class="form-control" id="gender_F" name="civility" value="false"  >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="userName">Mail :</label>
                    <input type="email" class="form-control" id="userName" placeholder="Entrer votre email" name="userName" required>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" class="form-control" id="password" placeholder="Entrer votre mot de passe" name="password" required>

                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center; padding-top: 30px">
        <button type="reset" class="btn btn-secondary">Réinitialiser</button>
        <button type="submit" class="btn btn-primary">Inscription</button>
    </div>
</form>
<div th:replace="footer :: footer"></div>
</body>
</html>