<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>404 Figurines</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div th:insert="${role == 'user'} ? ~{headerCustomer :: header} : _"></div>

<div style="padding-left:400px; padding-right:400px; padding-top:20px">
    <h3>Facture d'achat</h3>
    </br>
    <div class="row" style="padding-top: 20px">
        <div class="col">
            <div class="row" style="padding-top: 20px">
                <h5 th:text="${'Nom : ' + customer.getLastName()}"></h5>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Prénom : ' + customer.getFirstName()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Adresse : ' + customer.getAddress().getStreetnumber() + ' ' + customer.getAddress().getStreet() + ' ' }"></p>
                <p th:text="${customer.getAddress().getPostalCode() + ' ' + customer.getAddress().getCity() + ' ' }"></p>
                <p th:text="${customer.getAddress().getCountry()}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Montant total: ' + solde + ' €'}"></p>
            </div>
            <div class="row" style="padding-top: 20px">
                <p th:text="${'Date: ' + date}"></p>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="text-align: center">Image</th>
            <th style="text-align: center">Nom</th>
            <th style="text-align: center">Quantité</th>
            <th style="text-align: center">Prix Unitaire (€)</th>
        </tr>
        <br/>
        <tr style="width:100%" th:each="basketFigurine : ${basketFigurines}">
            <td style="width: 20%"><img th:src="@{${'/images/' + basketFigurine.getFigurine().getPicture().getName() + '.png'}}" height="80" width="80"></td>
            <td style="width: 15%; text-align: center" th:text="${basketFigurine.getFigurine().getName()}"></td>
            <td style="width: 10%; text-align: center" th:text="${basketFigurine.getQuantite()}"></td>
            <td style="width: 15%; text-align: center" th:text="${basketFigurine.getUnitPrice()}"></td>
        </tr>
    </table>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>